.gitignore
glog-master/
.DS_Store
Debug/
*.csv
Release/
*.con
.vs/
*.log
*.dat
VS2017Project/Debug
VS2017Project/Practice/Debug
*.filters
*.user
.DS_Store
VS2017Project/Practice/libcrypto820
x64-Debug/

